
importFrom("utils", "read.table", "write.table")
importFrom("methods", "as", "slot")

export(interp_surface_grid)
export(interp3d_xsec)
export(readUploadCsvCoords)
export(readUploadShptoGeoJSON)
export(precip_5min2hour)
export(precip_hour2daily)
export(precip_daily2month)
export(qpe_accumulation)
export(down_qpe_accumulation)

export(extractQPE)
export(extractGeomPoints)
export(extractGeomPolys)
export(extractGeomRect)

export(deleteUploadDir)
